/* Your styles goes here. */

.container {
  padding: 50px;
  background-color: #f3f6f9;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
}

.catalogContainer {
  width: 70%;
  color: white;
}

.cartContainer {
  width: 30%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 40px;
}

.stickyHeader {
  background-color: #f3f6f9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
